*.pyc
*.o
*.a
*.d
*.dtb
app
*.bin
*.map
*.img
*.sign
*.lzma
signing-key.asim
trust-keys/bdk-sign-private.pem
trust-keys/bdk-sign.pub
trust-keys/hw-rot-private.pem
lua-modules/bdk-version.lua
utils/bdk-lua/bdk-lua-thunder
utils/bdk-lua/bdk-lua-x86
utils/bdk-luac/bdk-luac-thunder
utils/bdk-luac/bdk-luac-x86
utils/fatfs-tool/fatfs-tool
libc/build
libc/share
libbdk-arch/bdk-version.c
libbdk-hal/if/bdk-microcode-cn8xxx.c
libbdk/bdk-functions.c
libbdk/bdk.h.gch
libc/aarch64-thunderx-elf/
